$env:SERVER_ADDRESS='localhost:8080'
$env:BASE_URL="http://localhost:8080"
$env:FILE_STORAGE_PATH="aliases.json"
$env:DATABASE_DSN="postgres://postgres:qwerty@localhost:5434/postgres?sslmode=disable"

# Формат DATABASE_DSN: postgres://user:password@host:port/dbname?sslmode=disable

# Строка создания container со случайным названием, из volume sprint3 c заменой стандартного порта 5432 на нестандартный 5434:
# docker run -e POSTGRES_PASSWORD=qwerty -p 5434:5432 -v sprint3:/var/lib/postgresql/data -d postgres
